/* region Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

:root {
    --circus-danger: #EC6C5B;
    --circus-success: #4CC083;
    --circus-review-background: #E2F3F0;
    --circus-categories-green: #def0f0;
    --circus-categories-yellow: #fcebd1;
    --circus-categories-purple: #e1e1ed;
    --circus-categories-pink: #fde5e5;
}

.color_danger {
    color: var(--circus-danger);
}

.btn_circus {
    color: white;
    background-color: var(--circus-success);
    padding: 1rem 3rem;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

/* endregion Common */

/* #region Sale */

.sale {
    text-align: center;
    background-color: var(--circus-danger);
    color: white;
    padding: 0.3rem 0;

    a {
        color: white;
    }
}

/* #endregion Sale */

/* #region Header */

header {
    font-weight: 600;

    .header_container {
        width: 95%;
        margin: 0 auto;
    }
}

/* #endregion Header */

/* #region Main */

main {
    .jumbotron {
        background-image: url(./img/billboard-bg.png);
        background-position: center;

        h1 {
            font-size: 4.5rem;
        }

        input {
            border: none;
        }

        img {
            justify-self: end;
            justify-items: end;
        }

        .jumbo_bottom {
            position: absolute;
            bottom: 375px;
            margin: 0 auto;
            width: 51%;

            .jumbo_card {
                padding: 1.5rem 1.7rem;
                background-color: white;
                border-radius: 15px;
                box-shadow: rgba(149, 157, 165, 0.6) 2px 2px 20px;

                .jumbo_card_top {
                    font-weight: bold;
                    font-size: 35px;
                    color: var(--circus-danger);
                }

                .jumbo_card_bottom {
                    font-weight: bold;
                    font-size: 18px;
                    display: block;
                }
            }
        }


    }

    .about {
        margin-top: 10rem;

        img {
            border-radius: 50%;
        }

        h2 {
            margin-top: 1rem;
        }

        i {
            color: var(--circus-danger);
            font-size: 18px;
        }

        p {
            font-size: 19px;
        }
    }

    .categories {
        margin-top: 8rem;

        .card_categories {
            display: flex;
            align-items: center;
            padding: 1.5rem;
            border-radius: 10px;

            i {
                padding-right: 1.5rem;
                font-size: 40px;
            }

            .cat_name {
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        .category_green {
            background-color: var(--circus-categories-green);

            i {
                color: var(--circus-success);
            }
        }

        .category_dark {
            background-color: var(--circus-categories-purple);

            i {
                color: grey;
            }
        }

        .category_yellow {
            background-color: var(--circus-categories-yellow);

            i {
                color: rgb(231, 179, 48);
            }
        }

        .category_pink {
            background-color: var(--circus-categories-pink);

            i {
                color: var(--circus-danger);
            }
        }

        .card_categories:hover {
            transition: 0.2s ease-in-out;
            background-color: var(--circus-danger);
            color: white;

            i {
                color: white;
            }
        }
    }

    .explore {
        margin-top: 5rem;

        .card {
            box-shadow: rgba(149, 157, 165, 0.6) 2px 2px 6px;
        }

        img {
            padding: 0.4rem;
            border-radius: 15px;
        }

        .top_content {
            text-transform: uppercase;
            font-weight: bold;
        }

        .card_title {
            padding: 1rem 0;
            font-size: 22px;
            font-weight: bold;
        }

        .card_text {
            .stars {
                color: var(--circus-success);
            }
        }
    }

    .reviews {
        padding: 10rem 2rem;
        background-color: var(--circus-review-background);

        h2 {
            font-size: 55px;
        }

        img {
            border-radius: 50%;
        }

        .review_name {
            font-weight: bold;
            font-size: 20px;
        }
    }

    .teachers {
        padding: 10rem 0;

        h2 {
            padding: 2rem 0 4rem;
            font-size: 55px;
        }

        .card {
            box-shadow: rgba(149, 157, 165, 0.6) 2px 2px 6px;
        }

        img {
            padding: 1rem;
            border-radius: 25px;
        }
    }

    .values {

        h2 {
            margin-bottom: 4rem;
        }

        i {
            color: var(--circus-danger);
            font-size: 18px;
        }

        p {
            font-size: 19px;
        }
    }

    .steps {
        padding: 10rem 1rem;

        .step {
            position: relative;
            padding: 1rem 1rem 2.5rem;
            border-bottom: 4px solid rgba(128, 128, 128, 0.429);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            &:before {
                position: absolute;
                right: -13.3px;
                content: '';
                border-style: solid;
                border-width: 10px 10px 10px 0px;
                border-color: transparent var(--circus-danger) transparent transparent;
                display: inline-block;
                vertical-align: middle;
                z-index: 100;
                transform: scale(-1, 1);
            }

            h2 {
                background-color: var(--circus-danger);
                color: white;
                padding: 10px;
                margin: -20px -20px 10px -20px;
                border-radius: 8px 8px 0 0;
            }

            p {
                padding: 0.3rem 0 1rem;
                font-size: 23px;
            }
        }

        .step_2 {
            position: relative;
            padding: 1rem 1rem 2.5rem;
            border-bottom: 4px solid rgba(128, 128, 128, 0.429);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            &:before {
                position: absolute;
                left: -13.3px;
                content: '';
                border-style: solid;
                border-width: 10px 10px 10px 0px;
                border-color: transparent var(--circus-danger) transparent transparent;
                display: inline-block;
                vertical-align: middle;
                z-index: 100;
            }

            h2 {
                background-color: var(--circus-danger);
                color: white;
                padding: 10px;
                margin: -20px -20px 10px -20px;
                border-radius: 8px 8px 0 0;
            }

            p {
                padding: 0.3rem 0 1rem;
                font-size: 23px;
            }
        }

        .line {
            width: 4px;
            background-color: var(--circus-danger);
            height: 100%;
        }

        .circle {
            font-size: 20px;
            background-color: var(--circus-danger);
            border-radius: 50%;
            z-index: 1;
            text-align: center;
            padding: 1rem;
        }

        .circle_1 {
            transform: rotate(40deg);
        }
    }
}

/* #endregion Main */