/* region Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --circus-danger: #EC6C5B;
    --circus-success: #4CC083;
    --circus-review-background: #E2F3F0;
    --circus-categories-green: #def0f0;
    --circus-categories-yellow: #fcebd1;
    --circus-categories-purple: #e1e1ed;
    --circus-categories-pink: #fde5e5;
}

/* endregion Common */

/* #region Sale */

.sale {
    text-align: center;
    background-color: var(--circus-danger);
    color: white;
    padding: 0.3rem 0;

    a {
        color: white;
    }
}

/* #endregion Sale */

/* #region Header */

header {
    font-weight: 600;

    .header_container {
        width: 95%;
        margin: 0 auto;
    }
}

/* #endregion Header */

/* #region Main */

main {
    font-weight: 300;


    .jumbotron {
        background-image: url(./img/billboard-bg.png);
        background-position: center;

        h1 {
            font-size: 4.5rem;
        }

        input {
            border: none;
        }

        img {
            justify-self: end;
            justify-items: end;
        }

        .jumbo_bottom {
            position: absolute;
            bottom: 70px;
            margin: 0 auto;
            width: 67%;

            .jumbo_card {
                padding: 1.5rem 1.7rem;
                background-color: white;
                border-radius: 15px;
                box-shadow: rgba(149, 157, 165, 0.6) 2px 2px 20px;

                .jumbo_card_top {
                    font-weight: bold;
                    font-size: 35px;
                    color: var(--circus-danger);
                }

                .jumbo_card_bottom {
                    font-weight: bold;
                    font-size: 18px;
                    display: block;
                }
            }
        }


    }

    .about {
        margin-top: 10rem;
    }
}

/* #endregion Main */